
<div class="header header-4">
  <div class="container">
    <h1>评价书籍</h1>
  </div>
</div>

<div class="container mt-5">
  <%= render partial: "shared/flash", flash: flash %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= errors_for @exchange %>

      <div class="text-center">
        <h3>《<%= @friend.first_name %>》是一本什么样的书呢 ?</h3>
      </div>

      <%= form_tag(exchanges_post_rate_path) do %>
        <%= hidden_field(nil, :id, :value => @exchange.id) %>

        <div class="comment-wrap" style="width: 600px;">
          <div class="comment-block" style="border-color: black">
            <form action="">
              <textarea name="" id="" cols="30" rows="3" placeholder="发表评论..."></textarea>
            </form>
          </div>
        </div>

        <div class="text-center">
          <%= submit_tag "提交", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
