
<div class="header header-5">
  <div class="container">
    <h1>我的书籍</h1>
    <p class="text-uppercase mt-0 mb-1">
      你添加了 <%= @friends.size %> 个书籍,
      <%= link_to '添加新书籍', new_friend_path, class: 'link-clean' %>
  </div>
</div>

<div class="container mt-5">
  <%= render partial: "shared/flash", flash: flash %>

  <div class="row">
    <% if @friends.each do |friend| %>
      <div class="col-md-3 mb-4">
        <%= link_to friend, class: 'link-clean' do %>
          <div class="card">
            <%= image_tag friend.avatar.url(:thumb), class: 'img-fluid' %>
            <div class="card-body">
              <h4 class="m-0 tag-text">
                <%= friend.first_name %><small class="text-muted">,
                  <% if friend.disabled? %>
                    <span class="text-danger"> disabled </span>
                  <% elsif friend.available? %>
                    <span class="text-success"> available </span>
                  <% else %>
                    <span class="text-warning">交换中...</span>
                  <% end %>
                </small>
              </h4>
              <% friend.tags_sorted[0...3].each do |tag| %>
                <span class="badge badge-info"><%= tag.first.label friend %></span>
              <% end %>
              <p class="m-0 tag-text"><%= truncate(friend.description, length: 30) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end.empty? %>
      <div class="container-fluid text-center">
        <h4 class="mt-3 text-muted">没有书籍</h4>
        <p class="my-1">
          <%= link_to '添加一本书？', new_friend_path %>
        </p>
      </div>
    <% end %>
  </div>
</div>
