
<div class="header header-lg">
  <div class="container">
    <h1>BOOKSEA </h1>
    <p class="text-uppercase" style="font-size: larger">UCAS 不可思议</p>
    <div class="text-uppercase" style="text-align: right; font-size: 25px; margin-right: 100px; font-family:'Al Tarikh'">交换书籍</div>
    <p class="text-uppercase" style="text-align: right; font-size: 25px">       沟通你我！</p>
  </div>
</div>

<div class="container">
  <h3 class="mt-5 mb-3">书籍分类</h3>

  <div class="row">
    <% @tags_by_city.each do |tag| %>
      <div class="col-md-3">
        <%= link_to search_get_path(
          city_name: tag.city_name, city: tag.city_id,
          tag_name: tag.label_male, tag: tag.id
        ), class: 'link-clean' do %>
          <div class="tag-card mb-3" style="background-image: url('<%= asset_path "tags/#{tag.label_male}.jpg" %>')">
            <div class="tag-gradient"></div>
            <div class="tag-content p-3">

              <h3 class="m-0 tag-text">#<%= tag.label_male.downcase %></h3>
              <p class="m-0 tag-text"><%= tag.count %> 个书籍有“ <%= tag.city_name %>”这个标签</p>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h3 class="mt-4 mb-3">热门书籍</h3>

  <div class="row">
    <% @most_traded.limit(20).each do |friend| %>
      <div class="col-md-3 mb-4">
        <%= link_to friend, class: 'link-clean' do %>
          <div class="card">
            <%= image_tag friend.avatar.url(:thumb), class: 'img-fluid' %>
            <div class="card-body">
              <h4 class="m-0 tag-text"><%= friend.first_name %></h4>
              <% friend.tags_sorted[0...3].each do |tag| %>
                <span class="badge badge-info"><%= tag.first.label friend %></span>
              <% end %>
              <p class="m-0 tag-text">交换 <%= friend.exchanges_count %> 次</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
